:root {
  --prcolor: #64D15E;
  --sdhwcoor: rgba(0, 0, 0, 0.125);
}

*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5efef;
  color: #1E2F3D;
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: 1230px;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  margin: 0 auto;
  margin-top: 50px;
  padding: 4rem 2.5rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 1.5rem 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.125);
          box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.125);
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.skills:hover {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

.skills .skill-img {
  max-width: 80px;
}

.skills .skill-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0.125rem 0.7rem 0 var(--sdhwcoor);
          box-shadow: 0 0.125rem 0.7rem 0 var(--sdhwcoor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skills .skill-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.2rem;
}

.skills .skill-info h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.skills .skill-info .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 1rem;
  padding: .5rem 0;
}

.skills .skill-info .skill-bar .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79.99%;
  background-color: #ebe3dd;
  height: .5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills .skill-info .skill-bar .bar .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #64D15E;
  z-index: 9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills .skill-info .skill-bar .txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500;
  width: 19.99%;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */