

/*===== RESPONSIVE CSS =====*/

// vars
$prColor : #FA4D56;
$scColor : #FFFFFF;
$whColor: #FFFFFF;
$bgColor: #FFFFFF;
$whBgColor: #f7f7f5;
$txtColor: #1e1d24;
$txtColorLite: #6e6e6e;

/*===== CUSTOM ROOT CSS =====*/
:root {
    --hdwd: 4rem;
    --btn-shdw: 0 .2rem .5rem 0 rgba(250, 77, 86, .5);
}

// mid-screen laptops+desktops
@media (max-width: 1439.99px) {
    p, .btn {
        font-size: 1rem !important;
    }

    .left-tag {
        left: 0;
    }
    .right-tag {
        right: -50px;
    }
}

// custom solves
@media (max-width: 1299.99px) {
    .skills {
        .left-tag {
            left: -40px;
        }
    }
}

// Small Laptops 12" 10"
@media (max-width: 1198.99px) {
    p, .btn {
        font-size: 1rem !important;
    }
    .menu-swith {
        display: inline-flex;
        text-transform: uppercase;
        visibility: visible;
        opacity: 1;
    }
    .nav-menu, .btn-menu{
        visibility: hidden;
        opacity: 0;
        width: 0;
    }
    .nav-sidebar {
        left: 0;
        max-height: 100vh;

        .nav-menu, .btn-menu{
            visibility: visible;
            opacity: 1;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            gap: .5rem 0;
            width: 100%;
            padding: 3.5rem 0 1rem;
            max-height: 50%;
            li {
                display: block;
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                    padding: .75rem 0;
                    color: #FFFFFF;
                    border-left: 2px solid transparent;
                    cursor: pointer;

                    &:hover {
                        border-left: 2px solid $whColor;
                        background-color: #dd4d55;
                    }
                }
            }
        }

        .btn-menu {
            position: absolute;
            bottom: 10px;
            left: 0;
            margin-left: 0;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 1rem 0;

            li {
                width: 100%;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: .8rem 0;
                    background: linear-gradient(90deg, #FA4D56, #fc4949);
                }
            }
        }
    }

    .hero {
        .hero-container {
            padding-left: 1rem;
            padding-right: 1rem;
            flex-direction: column;

            .hero-left {
                h1 { font-size: 3rem; }
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5rem;
            }

            .hero-right {
                justify-content: center;
            }
        }
    }


    .skill_bars {
        grid-template-columns: repeat(2, 1fr);
    }
}

// big screen Tabs 12" 10"
@media (max-width: 991.99px) {
    .about {
        .container {
            flex-direction: column;
            gap: 1rem 0;

            .visuals, .contents {
                max-width: 100%;
            }

            .contents {
                margin-bottom: 2rem;
                .btns {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .left-tag {
        left: -40px;
    }

    #cur {
        display: none;
    }
}

// custom solves
@media (max-width: 899.99px) {
    .container {
        padding: 0 .8rem;
    }

    .left-tag {
        left: -160px;
    }
}


// Tabs or large Smartphones
@media (max-width: 767.99px) {
    .hero {
        .hero-container {
            padding-left: 0;
            padding-right: 0;
            flex-direction: column;

            .hero-left {
                h1 { font-size: 2.4rem; }
                margin-bottom: 0;
            }

            .hero-right {
                display: none;
            }
        }

        .left-tag {
            top: calc(30% + 140px) !important;
            left: -150px !important;
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
        }
    }

    .nav-sidebar {
        width: 100%;
        .btn-menu {
            display: none;
        }
        .nav-menu {
            justify-content: center;
            align-items: center;
            height: 100%;
            max-height: 100%;
        }
    }

    .right-tag {
        right: -70px;
    }
    .left-tag {
        left: -70px;
    }

    .skill_bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .sk_txt {
        padding: .425rem !important;
    }

    ._skbar_ {
        padding: 2.5rem 2rem;
    }

    .masonry-nav {
        flex-direction: column;
        gap: 1rem 0;
    }

    .logo {
        font-size: 1.5rem !important;
    }

}

// Smartphones
@media (max-width: 539.99px) {

    // from here, all side-tag are section title now
    .right-tag,
    .left-tag {
        display: flex;
        align-items: center;
        width: 100%;
        left: 0 !important;
        right: 0 !important;
        top: 0;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }

    .right-tag {
        flex-direction: row-reverse;
    }


    .hero {
        .hero-container {
            padding-left: 0;
            padding-right: 0;

            .hero-left {
                h1 { font-size: 2rem; }
                .bio-tags {
                    flex-direction: column;
                    gap: 1rem 0;
                    li {
                        &::after {
                            top: 1.5rem;
                            left: calc(50% - .3rem);
                        }
                    }
                }
            }
        }

        .left-tag {
            top: calc(30% + 140px) !important;
            left: -200px !important;
            justify-content: center;
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
        }
    }

}



// Smartphones and small sreens
@media (max-width: 429.99px) {

    .container {
        max-width: 99%;
    }

    .hero {
        padding-top: 0;

        // .left-tag {
        //     top: calc(30% + 70px);
        // }

        .left-tag {
            .side-btn {
                font-size: .75rem;
                padding: .4rem 1rem;
            }

            top: calc(30% + 70px) !important;
            left: -150px !important;
        }

        .hero-container {
            .hero-left {
                h1 { font-size: 1.8rem; text-align: center; }
                h3 {font-size: 1.3rem; margin-bottom: 1rem;}
                .bio-tags {margin-bottom: 1.5rem;}
                .btns {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem 0;

                    .btn {
                        margin: 0;
                    }
                }
            }
        }
    }



    .about {
        .container {
            .contents {
                .btns {
                    flex-direction: column;
                    gap: 1rem 0;
                    .btn {
                        margin: 0;
                    }
                }
            }
        }
    }
}

// old/very small sreens
@media (max-width: 349.99px) {

    .hero {
        min-height: calc(100vh - 150px);

        .hero-container {
            padding-left: 10px;
            .hero-left {
                h1 { font-size: 1.5rem; text-align: center; }
                h3 {font-size: 1.1rem; margin-bottom: .8rem;}
                .bio-tags {margin-bottom: 1rem;}
                .btns {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: .8 0;

                    .btn {
                        margin: 0;
                    }
                }
            }
        }

        .left-tag {
            .side-btn {
                font-size: .45rem;
                font-weight: 400;
                padding: .4rem 1.5rem;
            }
            left: -120px !important;
            top: 0;
        }
    }

    .nav-sidebar {
        .nav-menu {
            display: flex;
            flex-direction: column;
            gap: .3rem 0;
            width: 100%;
            padding: 4rem 0 1rem;
            height: auto;
        }
    }
}