*,
body {
    margin: 0; padding: 0;
}

html { scroll-behavior: smooth; }

body {
    font-size: 1.5em;
    color: #313233;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#visual {
    text-align: center;
    padding: 2rem 1.5rem;
    background-color: blanchedalmond;
}

.preview {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin: 1rem 0.8rem;
}
