*, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F6F4;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: block;
    max-width: 1200px;
    width: 75%;
    margin: 60px auto;
    min-height: 600px;
    box-shadow: 0 .125rem .5rem 0 rgba(0,0,0,0.75);
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    z-index: 99 !important;
}

.caption {
    display: flex;
    justify-content: space-between;
    gap: 1rem 0;
    flex-direction: column;

    h1, a, p {
        color: white;
    }
}

.btn {
    display: inline-flex;
    max-width: 120px;
    justify-content: center;
    padding: .85rem 1.5rem;
    background-color: #4168D6;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
